<div class="theft-report">
  <div class="container">
    <div class="row content">
      <div class="col-md-12 section-title">
        <h2 class="item-title">
        <span class="icon-container">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewbox="0 0 512 512"><g id="icomoon-ignore">
        </g>
        <path class="svg-icon" d="M0 0h64v512h-64v-512z"></path>
        <path class="svg-icon" d="M416 321.501c41.312 0 77.285-9.992 96-24.75v-256c-18.715 14.759-54.688 24.751-96 24.751s-77.285-9.992-96-24.751v256c18.715 14.758 54.688 24.75 96 24.75z"></path>
        <path class="svg-icon" d="M304 16.264c-23.453-9.97-57.76-16.264-96-16.264-48.198 0-90.167 9.992-112 24.751v256c21.833-14.759 63.802-24.751 112-24.751 38.24 0 72.547 6.294 96 16.264v-256z"></path>
        </svg>
        </span>
        Reportar local </h2>
        <h3>Ayude a combatir el comercio de bicicletas robadas</h3>
        <div class="col-md-8 col-md-offset-2 hero-text">
          <p>
            Recuerde que los campos marcados con (*) son obligatorios.
          </p>
        </div>
        <%= form_for(@storeReport) do |f| %>

          <div class="form-group col-md-6 col-md-offset-3">
            <label class="sr-only" for="store_name">nombre del local*</label>
            <%= f.text_field :store_name, :class => 'form-control', :placeholder => 'nombre del local*'%>
          </div>

          <div class="form-group col-md-6 col-md-offset-3">
            <label class="sr-only" for="store_location">dirección del local*</label>
            <%= f.text_field :store_location, :class => 'form-control', :placeholder => 'dirección del local* (ej: calle 45 #30 -22, Bogotá)'%>
          </div>
          

          <div class="col-md-6 col-md-offset-3 form-group">
            <label class="sr-only" for="store_details">comentarios sobre el local*</label>
            <%= f.text_area :store_details, :class => 'form-control theft-description', :placeholder => 'comentarios sobre el local*'%>
          </div>


          <div class="form-group col-md-6 col-md-offset-3 btn-container">
            <%= f.submit "reportar local", :class => 'btn' %>
            <%= link_to 'cancelar', user_store_reports_path, :class => 'btn btn-purple' %>
          </div>

        <% end %>
      </div>
    </div>
    <!--/.content -->
  </div>
  <!--/.container -->
</div>
<!--/.theft-report -->